html{
    background-color: #b2d48f;
    font-family: "Calibri Light", sans-serif;
}
header{
    display: block;
    min-width :100%;
}
a{
    color: black;
    text-decoration: none;
}
.header{
    display: flex;
    flex-direction: row;
}


#logo{
    width: 400px;
    height: 170px;
    border-radius: 20px;
}

#eslogan{
    width: 50%;
    margin: 25px;
    font-size: large;
    text-align: center;
    font-weight: bold;
}
/*disminuyo tamaño de la fuente del enlace del registro de cliente*/
#formularioInicioSesion_y_Registro{

    display: flex;
    flex-direction: column;
    font-size: small;
}
#formularioInicioSesion_y_Registro input{
    border-radius: 5px;
}


/*organizo los campos del formulario en columna*/
.inicia_sesion{
    display: flex;
    flex-direction: column;
    font-size: large;
}
#enlaceNuevoUsuario{
    float: right;
    font-size: small;
}

.usuarioIniciado{
    margin-bottom: 100px;
    background-color: rgba(191, 151, 78, 0.73);
    border-radius: 5px;
}


.UsuarioyAdministracion{
    display:    flex;
    flex-direction: column;
}
.menu ul{
    background-color: rgba(191, 151, 78, 0.73);
    list-style: none;
    min-width: 100%;
    padding: 0;
    border-radius: 5px;

}
.menu li {
    font-weight: bold;
    display: inline-block;
    font-size: 15px;
    width: 22%;
    text-align: center;
}

.menu a{
    display: block;
    padding: 20px 25px;
    text-transform: uppercase;
    justify-content: space-around;
}

.menu a:hover{
    background: rgba(141, 101, 28, 0.73);
    border-radius: 5px;

}

.index_main, .sitioWeb_main, .item_main, .main_administracion{
    display: flex;
    flex-direction: row;
}
.foto_principal{
    width: 650px;
    height: 440px;
    border-radius: 20px;
}

.titulo_producto_destacado{
    text-align:center;
}
.seccion_productos_destacados{
    display: flex;
    flex-direction: column;
    padding-left:100px;
    padding-right :100px;
}

#ProductosDestacados{
    padding-left: 20px;
    padding-top: 20px;
    margin-left: 10px;
    border-radius: 20px;
    overflow-y: scroll;
    background: rgba(191, 151, 78, 0.73);
    max-height: 350px;
}
::-webkit-scrollbar{
    border-radius: 2px;
    width: 16px;
}

.productoDestacado{
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    padding-top:    5px;

}


.foto_articulo{
    width: 150px;
    height: 100px;
    border-radius: 20px;

}

.nombre_articulo{
    font-weight: bold;
    padding: 20px;
    min-width: 150px;
    text-align: center;
}

.productoDestacado a:hover{
    background: rgba(141, 101, 28, 0.73);
    border-radius: 20px;
}


.contacto ul{
    color: black;
    list-style: none;
    text-align: center;

}
.contacto li{
    display: inline-block;
    text-decoration: underline;
}

/*------------------------------------------------------------------------------------------*/
                                /*css para las secciones(fruta,verdura...)*/

.titulo_seccion{
    color: black;
    text-align: center;
    font-size: 50px;
    margin-top: 0;
    text-transform: uppercase;
}

.tabla_articulos{
    margin: 0 auto; /*centra la tabla*/
    border-style: ridge;
    border-radius: 20px;
    border-color: rgba(141, 101, 28, 0.73);
}

.articulo{
    width: 35%;
    height: 35%;
    padding: 20px;
    text-align: center;
}
.articulo h3:hover{
    background: rgba(141, 101, 28, 0.73);
    border-radius: 10px;

}

.nombre_articulo, .foto_articulo{
    text-align: center;
}
.navegacion_seccion ul{
    text-align: center;
}
.navegacion_seccion li{
    display: inline-block;
    list-style: none;
    text-decoration: underline;
    font-size: large;
    padding: 5px;
}

/*css para el alta de usuario*/
.form_alta_usuario, #conocerTienda{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    border-radius: 5px;
    border: 1px;
    margin-left: 50px;
}

#button1, #button2{
    border-radius: 5px;
}



/*css para los items*/

.item_main{
    display: flex;
    flex-direction: column;
}

.info_producto{
    display: flex;
    flex-direction: row;
    max-width: 700px; /*evita el solapamiento entre la foto y la tabla*/
}

.imagen_producto{
    width: 700px
}
.foto_item{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin-left: 20px;
}
.tabla_item{
    width: 500px;
    font-size: large;
    padding: 30px;
}

.precio, .titulo_descripcion{
    font-weight: bold;
}

.titulo_descripcion{
    margin-left: 20px;
}

.descripcion{
    padding: 30px;
    margin: 10px;
    border: 2px dashed black;
    width: 90%;
}

.navegacion_items li{
    width: 45%;
    display: inline-block;
    list-style: none;
    text-align: center;
    text-decoration: underline;
}



/*Adminsitracion*/
textarea{
    resize: none;
    margin-bottom: 10px;
}

.formulario_admisnitracion{
    display:flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto 0 50px;
}

.arrastra_foto{

    border-style: dashed;
    border-color: black;
    padding: 100px;
}

#boton_cargar_foto, #boton_guardar_articulo{
    max-width: 50%;
    margin-bottom: 10px;
}