html{
    background-color: #b2d48f;
    font-family: "Calibri Light", sans-serif;
}
header{
    display: block;
    min-width :100%;
}
a{
    color: black;
    text-decoration: none;
}
.header{
    display: flex;
    flex-direction: row;
}


#logo{
    width: 400px;
    height: 170px;
    border-radius: 20px;
}

#eslogan{
    width: 30%;
    margin: 25px;
    font-size: large;
    text-align: center;
}
/*disminuyo tamaño de la fuente del enlace del registro de cliente*/
#formularioInicioSesion_y_Registro{

    display: flex;
    flex-direction: column;
    font-size: small;
}
/*organizo los campos del formulario en columna*/
.inicia_sesion{
    display: flex;
    flex-direction: column;
    font-size: large;
}
#enlaceNuevoUsuario{
    float: right;
    font-size: small;
}
.menu ul{
    background-color: rgba(191, 151, 78, 0.73);
    list-style: none;

}
.menu li {
    font-weight: bold;
    display: inline-block;
    font-size: 15px;


}

.menu a{
    display: block;
    width: 100px;
    padding: 20px 25px;
    text-transform: uppercase;
    text-align: center;
}

.menu a:hover{
    background: rgba(141, 101, 28, 0.73);

}

.index_main{
    display: flex;
    flex-direction: row;
}
.foto_principal{
    width: 650px;
    height: 440px;
    border-radius: 20px;
}

.titulo_producto_destacado{
    text-align:center;
}
.seccion_productos_destacados{
    display: flex;
    flex-direction: column;
    padding-left:100px;
    padding-right :100px;
}

#ProductosDestacados{
    padding-left: 20px;
    padding-top: 20px;
    margin-left: 10px;
    border-radius: 20px;
    overflow-y: scroll;
    background: rgba(191, 151, 78, 0.73);
    max-height: 350px;
}
.productoDestacado{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    height: 40%;
}


.foto_articulo{
    width: 150px;
    height: 100px;
    border-radius: 20px;

}

.nombre_articulo{
    font-weight: bold;
    padding: 20px;
}


.contacto ul{
    color: black;
    list-style: none;
    text-align: center;

}
.contacto li{
    display: inline-block;
}
/*css para las secciones*/
.titulo_seccion{
    color: white;
}

/*css para el alta de usuario*/



/*css para los items*/

.item_main{
    display: flex;
    flex-direction: column;
}

.info_producto{
    display: flex;
    flex-direction: row;
}

.foto_item{
    width: 400px;
    height: 400px;
}

